.97_100 { 
	overflow:hidden;
}.e97_100 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:2257px;
	position:absolute;
}.e97_101 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e97_122 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e97_145 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_174 { 
	background-color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:1246px;
	height:2168px;
	position:absolute;
	left:0px;
	top:89px;
}.e97_175 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1165px;
	height:2039px;
	position:absolute;
	left:40px;
	top:171px;
}.e114_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:440px;
	height:73px;
	position:absolute;
	left:370px;
	top:224px;
}.114_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_3 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:42px;
	position:absolute;
	left:498px;
	top:239px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e114_4 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:489px;
}.114_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_5 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:592px;
}.114_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_6 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:779px;
}.114_6 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_17 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:679px;
}.114_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_7 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:887px;
}.114_7 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:70px;
	height:28px;
	position:absolute;
	left:146px;
	top:899px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_8 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:984px;
}.114_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_9 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:1093px;
}.114_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_20 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:1196px;
}.114_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_23 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:1296px;
}.114_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_26 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:1396px;
}.114_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_31 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:1496px;
}.114_31 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_34 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:1599px;
}.114_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_27 { 
	color:rgba(0, 0, 0, 0.5);
	width:83px;
	height:28px;
	position:absolute;
	left:146px;
	top:1406px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_22 { 
	color:rgba(0, 0, 0, 0.5);
	width:50px;
	height:28px;
	position:absolute;
	left:149px;
	top:1206px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_16 { 
	color:rgba(0, 0, 0, 0.5);
	width:143px;
	height:28px;
	position:absolute;
	left:140px;
	top:1097px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_10 { 
	color:rgba(0, 0, 0, 0.5);
	width:69px;
	height:28px;
	position:absolute;
	left:149px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_11 { 
	color:rgba(0, 0, 0, 0.5);
	width:143px;
	height:28px;
	position:absolute;
	left:149px;
	top:604px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_12 { 
	color:rgba(0, 0, 0, 0.5);
	width:45px;
	height:28px;
	position:absolute;
	left:146px;
	top:791px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_15 { 
	color:rgba(0, 0, 0, 0.5);
	width:220px;
	height:28px;
	position:absolute;
	left:140px;
	top:986px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_18 { 
	color:rgba(0, 0, 0, 0.5);
	width:373px;
	height:28px;
	position:absolute;
	left:146px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_24 { 
	color:rgba(0, 0, 0, 0.5);
	width:90px;
	height:28px;
	position:absolute;
	left:154px;
	top:1306px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_33 { 
	color:rgba(0, 0, 0, 0.5);
	width:78px;
	height:28px;
	position:absolute;
	left:146px;
	top:1509px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_35 { 
	color:rgba(0, 0, 0, 0.5);
	width:220px;
	height:28px;
	position:absolute;
	left:154px;
	top:1611px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 244.7999945282936, 0, 1);
	width:360px;
	height:70px;
	position:absolute;
	left:760px;
	top:1799px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
}.114_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_38 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:28px;
	position:absolute;
	left:810px;
	top:1819px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_166 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1280px;
	height:90px;
	position:absolute;
	left:0px;
	top:-1px;
}.97_166 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_167 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e97_168 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:274px;
	height:54px;
	position:absolute;
	left:941px;
	top:11px;
	border-radius:70px;
}.97_168 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e97_169 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:1019px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_170 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:110px;
	height:50px;
	position:absolute;
	left:305px;
	top:21px;
}.e97_171 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:42px;
	position:absolute;
	left:485px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}