.139_91 { 
	overflow:hidden;
}.e139_91 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:1809px;
	position:absolute;
}.e139_92 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e139_93 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e139_94 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_95 { 
	background-color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:1271px;
	height:1621px;
	position:absolute;
	left:0px;
	top:89px;
}.e139_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:99px;
	position:absolute;
	left:0px;
	top:1710px;
}.139_96 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_97 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:81px;
	top:1745px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_98 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1139px;
	height:1405px;
	position:absolute;
	left:53px;
	top:185px;
}.e139_99 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:185px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_100 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:568px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_101 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:574px;
	top:821px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_102 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:194px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_103 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:951px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_104 { 
	background-color:rgba(255, 255, 255, 1);
	width:270px;
	height:46px;
	position:absolute;
	left:113px;
	top:206px;
}.139_104 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_105 { 
	color:rgba(0, 0, 0, 0.5);
	width:120px;
	height:16px;
	position:absolute;
	left:174px;
	top:221px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e139_106 { 
	width:40px;
	height:38px;
	position:absolute;
	left:123px;
	top:210px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_108 { 
	width:175px;
	height:158px;
	position:absolute;
	left:486px;
	top:421px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_109 { 
	color:rgba(0, 0, 0, 1);
	width:1129px;
	height:221px;
	position:absolute;
	left:71px;
	top:679px;
	font-family:Roboto;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e139_110 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:603px;
	height:106px;
	position:absolute;
	left:301px;
	top:1025px;
}.139_110 { 
	border:5px solid rgba(0, 56.10000729560852, 255, 1);
}.e139_111 { 
	color:rgba(13.281244933605194, 57.1093775331974, 212.4999949336052, 1);
	width:495px;
	height:35px;
	position:absolute;
	left:355px;
	top:1061px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e139_120 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:1854px;
	top:23px;
	border-radius:70px;
}.139_120 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e139_112 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1271px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
}.139_112 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_113 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1280px;
	height:120.99999237060547px;
	position:absolute;
	left:552px;
	top:-871px;
}.139_113 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_114 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:42px;
	position:absolute;
	left:422px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e139_115 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e139_116 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:784px;
	top:11px;
	border-radius:70px;
}.139_116 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e139_121 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:1024px;
	top:11px;
	border-radius:70px;
}.139_121 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e139_123 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:1109px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_117 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:869px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}