.114_43 { 
	overflow:hidden;
}.e114_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:1800px;
	position:absolute;
}.e114_44 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e114_45 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e114_46 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e114_47 { 
	background-color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:1246px;
	height:2168px;
	position:absolute;
	left:0px;
	top:89px;
}.e114_48 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1141px;
	height:1662px;
	position:absolute;
	left:57px;
	top:38px;
}.e114_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:639px;
	height:73px;
	position:absolute;
	left:278px;
	top:224px;
}.114_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_50 { 
	color:rgba(0, 0, 0, 1);
	width:481px;
	height:42px;
	position:absolute;
	left:382px;
	top:239px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e114_51 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:489px;
}.114_51 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_52 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:592px;
}.114_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_53 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:779px;
}.114_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_54 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:679px;
}.114_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_55 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:887px;
}.114_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_56 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:70px;
	height:28px;
	position:absolute;
	left:146px;
	top:899px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_59 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:990px;
}.114_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_60 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:1076px;
}.114_60 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_61 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:127px;
	top:1174px;
}.114_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_62 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:131px;
	top:1274px;
}.114_62 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_63 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:800px;
	height:53px;
	position:absolute;
	left:128px;
	top:1361px;
}.114_63 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_64 { 
	color:rgba(0, 0, 0, 0.5);
	width:83px;
	height:28px;
	position:absolute;
	left:149px;
	top:1192px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_65 { 
	color:rgba(0, 0, 0, 0.5);
	width:50px;
	height:28px;
	position:absolute;
	left:149px;
	top:1003px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_67 { 
	color:rgba(0, 0, 0, 0.5);
	width:69px;
	height:28px;
	position:absolute;
	left:149px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_68 { 
	color:rgba(0, 0, 0, 0.5);
	width:143px;
	height:28px;
	position:absolute;
	left:149px;
	top:604px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_69 { 
	color:rgba(0, 0, 0, 0.5);
	width:45px;
	height:28px;
	position:absolute;
	left:146px;
	top:791px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_71 { 
	color:rgba(0, 0, 0, 0.5);
	width:373px;
	height:28px;
	position:absolute;
	left:146px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_72 { 
	color:rgba(0, 0, 0, 0.5);
	width:90px;
	height:28px;
	position:absolute;
	left:140px;
	top:1089px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_73 { 
	color:rgba(0, 0, 0, 0.5);
	width:78px;
	height:28px;
	position:absolute;
	left:140px;
	top:1285px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_74 { 
	color:rgba(0, 0, 0, 0.5);
	width:220px;
	height:28px;
	position:absolute;
	left:146px;
	top:1374px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_75 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 244.7999945282936, 0, 1);
	width:360px;
	height:70px;
	position:absolute;
	left:669px;
	top:1530px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
}.114_75 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_76 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:28px;
	position:absolute;
	left:717px;
	top:1551px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_77 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1280px;
	height:90px;
	position:absolute;
	left:0px;
	top:-1px;
}.114_77 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e114_78 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e114_79 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:274px;
	height:54px;
	position:absolute;
	left:941px;
	top:11px;
	border-radius:70px;
}.114_79 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e114_80 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:1019px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e114_81 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:110px;
	height:50px;
	position:absolute;
	left:305px;
	top:21px;
}.e114_82 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:42px;
	position:absolute;
	left:485px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}