.79_99 { 
	overflow:hidden;
}.e79_99 { 
	background-color:rgba(255, 255, 255, 1);
	width:1203px;
	height:1289px;
	position:absolute;
}.e79_100 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e79_101 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e79_102 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:106px;
	position:absolute;
	left:0px;
	top:2151px;
}.79_102 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e79_103 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:33px;
	top:2192px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_104 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_105 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(231.06053978204727, 208.91724318265915, 208.91724318265915, 1);
	width:1203px;
	height:1927px;
	position:absolute;
	left:0px;
	top:0px;
}.e79_106 { 
	box-shadow:0px 4px 4px rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 0.25);
	background-color:rgba(252.32714742422104, 252.32714742422104, 252.32714742422104, 1);
	width:1151px;
	height:1828px;
	position:absolute;
	left:26px;
	top:265px;
}.e79_107 { 
	color:rgba(168.93750607967377, 158.37890625, 158.37890625, 1);
	width:216px;
	height:28px;
	position:absolute;
	left:456px;
	top:517px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_108 { 
	color:rgba(144.49999898672104, 140.8875024318695, 140.8875024318695, 1);
	width:595px;
	height:28px;
	position:absolute;
	left:266px;
	top:1081px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_109 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-0.0908527726545353deg);
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:140px;
	position:absolute;
	left:338px;
	top:124.7928466796875px;
}.79_109 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e79_110 { 
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:56px;
	position:absolute;
	left:461px;
	top:171px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e79_111 { 
	color:rgba(10.625000316649675, 10.226563196629286, 10.226563196629286, 1);
	width:582px;
	height:57px;
	position:absolute;
	left:328px;
	top:364px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e79_112 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:43px;
	position:absolute;
	left:389px;
	top:670px;
}.79_112 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e79_113 { 
	color:rgba(163.62499594688416, 163.61434131860733, 163.61434131860733, 0.6000000238418579);
	width:240px;
	height:74px;
	position:absolute;
	left:499px;
	top:676px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_114 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:43px;
	position:absolute;
	left:389px;
	top:796px;
}.79_114 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e79_115 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(57.0031276345253, 70.40869429707527, 117.93750151991844, 1);
	width:350px;
	height:43px;
	position:absolute;
	left:389px;
	top:930px;
}.79_115 { 
	border:1px solid rgba(10.182298421859741, 22.360329553484917, 244.3749949336052, 1);
}.e79_116 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:43px;
	position:absolute;
	left:389px;
	top:1172px;
}.79_116 { 
	border:1px solid rgba(10.182298421859741, 22.360329553484917, 244.3749949336052, 1);
}.e79_117 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:28px;
	position:absolute;
	left:490px;
	top:1180px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_119 { 
	color:rgba(163.62499594688416, 163.61434131860733, 163.61434131860733, 0.6000000238418579);
	width:240px;
	height:74px;
	position:absolute;
	left:509px;
	top:802px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e79_120 { 
	width:39px;
	height:41px;
	position:absolute;
	left:400px;
	top:797px;
	background-image:url(images/forgot_password.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_121 { 
	width:37px;
	height:37px;
	position:absolute;
	left:404px;
	top:672px;
	background-image:url(images/login.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_122 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:28px;
	position:absolute;
	left:509px;
	top:935px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_5 { 
	width:75px;
	height:80px;
	position:absolute;
	left:986px;
	top:50px;
	background-image:url(images/macos_close_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}