
.navbar-brand{
	color: ##E6D1D1;
	background-color: #FCFCFC;
}
.button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:2257px;
	position:absolute;
}
.e1_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}
.e1_9 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:1246px;
	height:265px;
	position:absolute;
	left:0px;
	top:89px;
}
.e1_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:139px;
	height:144px;
	position:absolute;
	left:688px;
	top:158px;
}
.e1_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:139px;
	height:144px;
	position:absolute;
	left:283px;
	top:158px;
}
.e1_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:139px;
	height:144px;
	position:absolute;
	left:484px;
	top:158px;
}
.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:28px;
	position:absolute;
	left:486px;
	top:99px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:139px;
	height:144px;
	position:absolute;
	left:86px;
	top:158px;
}
.e1_16 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:139px;
	height:144px;
	position:absolute;
	left:894px;
	top:158px;
}
.e1_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(224.7021433711052, 224.7021433711052, 224.7021433711052, 1);
	width:121px;
	height:27px;
	position:absolute;
	left:1090px;
	top:315px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}
.1_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_18 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:14px;
	position:absolute;
	left:1101px;
	top:321px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:1242px;
	height:358px;
	position:absolute;
	left:4px;
	top:354px;
}
.e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:398px;
	height:28px;
	position:absolute;
	left:452px;
	top:387px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_21 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:34px;
	height:0px;
	position:absolute;
	left:95px;
	top:1072px;
}
.e1_22 { 
	background-color:rgba(0, 0, 0, 1);
	width:160px;
	height:284px;
	position:absolute;
	left:65px;
	top:408px;
}
.e1_23 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:101px;
	position:absolute;
	left:95px;
	top:512px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_24 { 
	background-color:rgba(255, 253.46998929977417, 245.43749392032623, 1);
	width:703px;
	height:222px;
	position:absolute;
	left:336px;
	top:446px;
}
.1_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_25 { 
	background-color:rgba(66.93749696016312, 66.93749696016312, 66.93749696016312, 1);
	width:274px;
	height:54px;
	position:absolute;
	left:539px;
	top:567px;
	border-radius:70px;
}
.1_25 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}
.e1_26 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:601px;
	top:580px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_27 { 
	color:rgba(0, 0, 0, 1);
	width:662px;
	height:105px;
	position:absolute;
	left:357px;
	top:462px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_28 { 
	background-color:rgba(251.2646484375, 249.17077839374542, 249.17077839374542, 1);
	width:1246px;
	height:411px;
	position:absolute;
	left:0px;
	top:712px;
}
.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:303px;
	height:42px;
	position:absolute;
	left:488px;
	top:753px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e2_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}
.e2_18 { 
	color:rgba(0, 0, 0, 1);
	width:466px;
	height:28px;
	position:absolute;
	left:204px;
	top:1591px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_16 { 
	color:rgba(0, 0, 0, 1);
	width:485px;
	height:28px;
	position:absolute;
	left:193px;
	top:1483px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_5 { 
	color:rgba(0, 0, 0, 1);
	width:355px;
	height:42px;
	position:absolute;
	left:470px;
	top:1150px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e2_9 { 
	width:60px;
	height:68px;
	position:absolute;
	left:95px;
	top:1277px;
	background-image:url(images/money_bag.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_11 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:28px;
	position:absolute;
	left:191px;
	top:1297px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_14 { 
	color:rgba(0, 0, 0, 1);
	width:307px;
	height:28px;
	position:absolute;
	left:185px;
	top:1381px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_15 { 
	width:75px;
	height:56px;
	position:absolute;
	left:88px;
	top:1466px;
	background-image:url(images/increase.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_31 { 
	width:68px;
	height:95px;
	position:absolute;
	left:87px;
	top:1345px;
	background-image:url(images/female_user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_4 { 
	background-color:rgba(255, 255, 255, 0);
	width:230px;
	height:765px;
	position:absolute;
	left:14px;
	top:1150px;
}
.e15_5 { 
	background-color:rgba(0, 0, 0, 1);
	width:39.160682678222656px;
	height:67.734375px;
	position:absolute;
	left:83.83692932128906px;
	top:406.40625px;
}
.e15_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:685.5875244140625px;
	height:331.69921875px;
	position:absolute;
	left:31.4388484954834px;
	top:547.8515625px;
}
.e2_4 { 
	background-color:rgba(255, 244.3749949336052, 244.3749949336052, 1);
	width:1254px;
	height:489px;
	position:absolute;
	left:-8px;
	top:1662px;
}
.e65_74 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:82px;
	position:absolute;
	left:941px;
	top:2030px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_16 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:140px;
	position:absolute;
	left:935px;
	top:1676px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_13 { 
	color:rgba(0, 0, 0, 1);
	width:418px;
	height:532px;
	position:absolute;
	left:17px;
	top:1676px;
	font-family:Roboto Slab;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_19 { 
	width:88px;
	height:70px;
	position:absolute;
	left:945px;
	top:1887px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_26 { 
	width:84px;
	height:52px;
	position:absolute;
	left:955px;
	top:1814px;
}
.e15_27 { 
	width:79.47099304199219px;
	height:39.993473052978516px;
	position:absolute;
	left:3.2795095443725586px;
	top:5.952880859375px;
}
.e15_28 { 
	background-color:rgba(0, 0, 0, 1);
	width:79.47099304199219px;
	height:39.993473052978516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e15_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:106px;
	position:absolute;
	left:0px;
	top:2151px;
}
.15_44 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e15_46 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:33px;
	top:2192px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e15_51 { 
	width:322px;
	height:230px;
	position:absolute;
	left:878px;
	top:816px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_52 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_49 { 
	width:322px;
	height:230px;
	position:absolute;
	left:484px;
	top:819px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_50 { 
	width:322px;
	height:230px;
	position:absolute;
	left:52px;
	top:816px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_9 { 
	width:30px;
	height:30px;
	position:absolute;
	left:185px;
	top:312px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_12 { 
	width:30px;
	height:30px;
	position:absolute;
	left:389px;
	top:314px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_15 { 
	width:30px;
	height:30px;
	position:absolute;
	left:579px;
	top:312px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_18 { 
	width:30px;
	height:30px;
	position:absolute;
	left:801px;
	top:312px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_8 { 
	width:30px;
	height:53px;
	position:absolute;
	left:88px;
	top:302px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_16 { 
	width:30px;
	height:53px;
	position:absolute;
	left:496px;
	top:303px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_19 { 
	width:30px;
	height:53px;
	position:absolute;
	left:697px;
	top:301px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_22 { 
	width:30px;
	height:53px;
	position:absolute;
	left:905px;
	top:301px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_13 { 
	width:30px;
	height:53px;
	position:absolute;
	left:283px;
	top:302px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_21 { 
	width:30px;
	height:30px;
	position:absolute;
	left:997px;
	top:312px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_81 { 
	width:114px;
	height:118px;
	position:absolute;
	left:101px;
	top:175px;
	background-image:url(images/466_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_82 { 
	width:125px;
	height:118px;
	position:absolute;
	left:290px;
	top:171px;
	background-image:url(images/roupa_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_83 { 
	width:129px;
	height:127px;
	position:absolute;
	left:489px;
	top:167px;
	background-image:url(images/466_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_85 { 
	width:129px;
	height:127px;
	position:absolute;
	left:901px;
	top:170px;
	background-image:url(images/466_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_84 { 
	width:134px;
	height:118px;
	position:absolute;
	left:691px;
	top:170px;
	background-image:url(images/roupa_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e65_47 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:907px;
	top:2219px;
}
.e65_73 { 
	width:70px;
	height:69px;
	position:absolute;
	left:960px;
	top:1724px;
	background-image:url(images/87390_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e65_75 { 
	width:62px;
	height:47px;
	position:absolute;
	left:1072px;
	top:2006px;
	background-image:url(images/image_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e97_179 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:183px;
	height:89px;
	position:absolute;
	left:411px;
	top:0px;
}
.e1_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1247px;
	height:90px;
	position:absolute;
	left:0px;
	top:-1px;
}
.1_3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e114_193 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:97px;
	height:68px;
	position:absolute;
	left:872px;
	top:21px;
}
.e114_189 { 
	background-color:rgba(0, 0, 0, 0);
	width:157px;
	height:40px;
	position:absolute;
	left:593px;
	top:21px;
}
.e114_191 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:104px;
	height:61px;
	position:absolute;
	left:760px;
	top:0px;
}
.e114_186 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:225px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_6 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:200px;
	height:54px;
	position:absolute;
	left:990px;
	top:11px;
	border-radius:70px;
}
.1_6 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}
.e1_7 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:28px;
	position:absolute;
	left:1019px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e97_28 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:110px;
	height:50px;
	position:absolute;
	left:305px;
	top:21px;
}
.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:719px;
	height:21px;
	position:absolute;
	left:250px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e15_20 { 
	width:16px;
	height:16px;
	position:absolute;
	left:615px;
	top:1123px;
}
