.139_186 { 
	overflow:hidden;
}.e139_186 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:1293px;
	position:absolute;
}.e139_187 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e139_188 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e139_189 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_190 { 
	background-color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:1271px;
	height:1621px;
	position:absolute;
	left:0px;
	top:89px;
}.e139_191 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:99px;
	position:absolute;
	left:0px;
	top:1194px;
}.139_191 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_192 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:68px;
	top:1226px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_193 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1139px;
	height:918px;
	position:absolute;
	left:53px;
	top:185px;
}.e139_194 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:185px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_195 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:568px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_196 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:574px;
	top:821px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_197 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:194px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_198 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:951px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_199 { 
	background-color:rgba(255, 255, 255, 1);
	width:270px;
	height:46px;
	position:absolute;
	left:113px;
	top:206px;
}.139_199 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_200 { 
	color:rgba(0, 0, 0, 0.5);
	width:120px;
	height:16px;
	position:absolute;
	left:174px;
	top:221px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e139_201 { 
	width:40px;
	height:38px;
	position:absolute;
	left:123px;
	top:210px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_202 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:94px;
	top:350px;
}.e139_203 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:54px;
	position:absolute;
	left:475px;
	top:208px;
}.139_203 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_204 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:35px;
	position:absolute;
	left:601px;
	top:218px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e139_205 { 
	width:79px;
	height:52px;
	position:absolute;
	left:474px;
	top:209px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_206 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:562px;
	height:212px;
	position:absolute;
	left:376px;
	top:352px;
}.139_206 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_207 { 
	color:rgba(0, 0, 0, 1);
	width:289px;
	height:35px;
	position:absolute;
	left:530px;
	top:368px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e139_208 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:115px;
	position:absolute;
	left:387px;
	top:415px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e139_209 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:58px;
	position:absolute;
	left:96px;
	top:564px;
}.139_209 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_210 { 
	width:79px;
	height:46px;
	position:absolute;
	left:308px;
	top:570px;
	background-image:url(images/seta_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e139_211 { 
	color:rgba(0, 0, 0, 0.5);
	width:113px;
	height:26px;
	position:absolute;
	left:106px;
	top:580px;
	font-family:Roboto;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e139_212 { 
	transform: rotate(-90deg);
	width:58px;
	height:0px;
	position:absolute;
	left:244.5px;
	top:622.4098510742188px;
}.139_212 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_213 { 
	transform: rotate(-90deg);
	width:58px;
	height:0px;
	position:absolute;
	left:326px;
	top:622px;
}.139_213 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_214 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:28px;
	position:absolute;
	left:280px;
	top:579px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_215 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:70px;
	position:absolute;
	left:771px;
	top:751px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.139_215 { 
	border:4px solid rgba(0, 71.39999270439148, 255, 1);
}.e139_216 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 153.00000607967377, 0, 1);
	width:350px;
	height:70px;
	position:absolute;
	left:81px;
	top:751px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e139_217 { 
	color:rgba(11.138539910316467, 25.749705880880356, 157.25000202655792, 1);
	width:222px;
	height:28px;
	position:absolute;
	left:827px;
	top:772px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_218 { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:28px;
	position:absolute;
	left:101px;
	top:772px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_241 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:178px;
	top:449px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_257 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:153px;
	height:61px;
	position:absolute;
	left:1073px;
	top:0px;
}.e160_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:124px;
	height:26px;
	position:absolute;
	left:600px;
	top:459px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.160_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e160_3 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:14px;
	position:absolute;
	left:606px;
	top:464px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e139_219 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1271px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
}.139_219 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_220 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1280px;
	height:120.99999237060547px;
	position:absolute;
	left:552px;
	top:-871px;
}.139_220 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e139_221 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:42px;
	position:absolute;
	left:422px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e139_222 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e139_223 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:784px;
	top:11px;
	border-radius:70px;
}.139_223 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e139_242 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:1024px;
	top:11px;
	border-radius:70px;
}.139_242 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e139_259 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:1121px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e139_224 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:869px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}