.79_19 { 
	overflow:hidden;
}.e79_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:1809px;
	position:absolute;
}.e79_20 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e79_41 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e79_64 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_9 { 
	background-color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:1271px;
	height:1621px;
	position:absolute;
	left:0px;
	top:89px;
}.e97_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:1271px;
	height:99px;
	position:absolute;
	left:0px;
	top:1710px;
}.97_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_13 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:81px;
	top:1745px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_18 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1139px;
	height:1405px;
	position:absolute;
	left:53px;
	top:185px;
}.e97_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:331px;
	position:absolute;
	left:112px;
	top:320px;
}.97_19 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:108px;
	top:733px;
}.97_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:108px;
	top:1143px;
}.97_25 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:481px;
	top:733px;
}.97_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:481px;
	top:1142px;
}.97_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:856px;
	top:726px;
}.97_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:864px;
	top:1142px;
}.97_27 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:481px;
	top:343px;
}.97_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:308px;
	position:absolute;
	left:864px;
	top:343px;
}.97_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_31 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:112px;
	top:320px;
}.e97_36 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:482px;
	top:320px;
}.e97_42 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:482px;
	top:715px;
}.e97_43 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:106px;
	top:721px;
}.e97_37 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:864px;
	top:320px;
}.e97_38 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:856px;
	top:718px;
}.e97_39 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:864px;
	top:1110px;
}.e97_40 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:482px;
	top:1110px;
}.e97_41 { 
	background-color:rgba(30.81249911338091, 27.988019473850727, 27.988019473850727, 1);
	width:280px;
	height:214px;
	position:absolute;
	left:107px;
	top:1110px;
}.e97_34 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:185px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_44 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:568px;
	top:421px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_45 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:949px;
	top:415px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_46 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:194px;
	top:821px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_47 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:574px;
	top:821px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_48 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:949px;
	top:821px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_49 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:194px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_50 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:568px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_51 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:951px;
	top:1208px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_52 { 
	width:57px;
	height:53px;
	position:absolute;
	left:113px;
	top:590px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_53 { 
	width:57px;
	height:53px;
	position:absolute;
	left:482px;
	top:590px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_55 { 
	width:57px;
	height:53px;
	position:absolute;
	left:128px;
	top:979px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_56 { 
	width:57px;
	height:53px;
	position:absolute;
	left:488px;
	top:979px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_57 { 
	width:57px;
	height:53px;
	position:absolute;
	left:864px;
	top:979px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_58 { 
	width:57px;
	height:53px;
	position:absolute;
	left:112px;
	top:1388px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_59 { 
	width:57px;
	height:53px;
	position:absolute;
	left:482px;
	top:1388px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_60 { 
	width:57px;
	height:53px;
	position:absolute;
	left:880px;
	top:1388px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_54 { 
	width:57px;
	height:53px;
	position:absolute;
	left:875px;
	top:589px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_61 { 
	width:57px;
	height:53px;
	position:absolute;
	left:951px;
	top:132px;
	background-image:url(images/buy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_62 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:113px;
	top:544px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_63 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:482px;
	top:544px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_64 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:867px;
	top:544px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_65 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:112px;
	top:938px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_66 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:484px;
	top:939px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_67 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:862px;
	top:939px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_68 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:113px;
	top:1334px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_69 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:481px;
	top:1334px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_70 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:875px;
	top:1334px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:270px;
	height:46px;
	position:absolute;
	left:113px;
	top:206px;
}.97_71 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:232px;
	height:46px;
	position:absolute;
	left:903px;
	top:211px;
}.97_90 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_73 { 
	color:rgba(0, 0, 0, 0.5);
	width:120px;
	height:16px;
	position:absolute;
	left:174px;
	top:221px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e97_92 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:53px;
	height:16px;
	position:absolute;
	left:969px;
	top:226px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e97_75 { 
	width:40px;
	height:38px;
	position:absolute;
	left:123px;
	top:210px;
	background-image:url(images/lupa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_76 { 
	width:82px;
	height:41px;
	position:absolute;
	left:285px;
	top:602px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_77 { 
	width:82px;
	height:41px;
	position:absolute;
	left:677px;
	top:602px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_78 { 
	width:82px;
	height:41px;
	position:absolute;
	left:1070px;
	top:602px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_79 { 
	width:82px;
	height:41px;
	position:absolute;
	left:301px;
	top:985px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_80 { 
	width:82px;
	height:41px;
	position:absolute;
	left:677px;
	top:985px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_81 { 
	width:82px;
	height:41px;
	position:absolute;
	left:1053px;
	top:982px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_82 { 
	width:82px;
	height:41px;
	position:absolute;
	left:1058px;
	top:1394px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_83 { 
	width:82px;
	height:41px;
	position:absolute;
	left:683px;
	top:1396px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_84 { 
	width:82px;
	height:41px;
	position:absolute;
	left:304px;
	top:1392px;
	background-image:url(images/eye.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_85 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:189px;
	height:26px;
	position:absolute;
	left:1024px;
	top:145px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e97_86 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:16px;
	position:absolute;
	left:1070px;
	top:150px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e97_88 { 
	color:rgba(22.913777455687523, 18.58931690454483, 234.81250405311584, 1);
	width:277px;
	height:28px;
	position:absolute;
	left:895px;
	top:1560px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_95 { 
	transform: rotate(-90.00000000000001deg);
	width:45.000003814697266px;
	height:0px;
	position:absolute;
	left:1094px;
	top:255px;
}.97_95 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e97_93 { 
	width:79px;
	height:46px;
	position:absolute;
	left:1071px;
	top:210px;
	background-image:url(images/seta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e79_85 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1280px;
	height:121px;
	position:absolute;
	left:0px;
	top:-1px;
}.79_85 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e79_94 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:42px;
	position:absolute;
	left:453px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e79_86 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:45px;
	position:absolute;
	left:26px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e79_87 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:1024px;
	top:11px;
	border-radius:70px;
}.79_87 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e97_15 { 
	background-color:rgba(255, 226.73751175403595, 214.6250081062317, 1);
	width:240px;
	height:54px;
	position:absolute;
	left:784px;
	top:11px;
	border-radius:70px;
}.97_15 { 
	border:1px solid rgba(66.93749696016312, 58.849216774106026, 58.849216774106026, 1);
}.e79_92 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:1109px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_16 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:869px;
	top:21px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}