.15_53 { 
	overflow:hidden;
}.e15_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:1177px;
	height:1286px;
	position:absolute;
}.e15_54 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:106px;
	height:141px;
	position:absolute;
	left:163.5px;
	top:-502px;
}.e15_76 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:2125.5px;
	top:923.5px;
}.e15_95 { 
	background-color:rgba(255, 255, 255, 1);
	width:1246px;
	height:106px;
	position:absolute;
	left:0px;
	top:2151px;
}.15_95 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_96 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:28px;
	position:absolute;
	left:33px;
	top:2192px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e15_98 { 
	width:366px;
	height:230px;
	position:absolute;
	left:-1957px;
	top:564px;
	background-image:url(images/mini_caixas_de_compras_sob_teclado_de_laptop_1_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e37_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(231.06053978204727, 208.91724318265915, 208.91724318265915, 1);
	width:1203px;
	height:1927px;
	position:absolute;
	left:0px;
	top:0px;
}.e37_3 { 
	box-shadow:0px 4px 4px rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 0.25);
	background-color:rgba(252.32714742422104, 252.32714742422104, 252.32714742422104, 1);
	width:1151px;
	height:1828px;
	position:absolute;
	left:11.999984741210938px;
	top:287px;
}.e39_2 { 
	color:rgba(168.93750607967377, 158.37890625, 158.37890625, 1);
	width:216px;
	height:28px;
	position:absolute;
	left:458px;
	top:503px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e39_23 { 
	color:rgba(144.49999898672104, 140.8875024318695, 140.8875024318695, 1);
	width:595px;
	height:28px;
	position:absolute;
	left:267px;
	top:1095px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e37_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-0.0908527726545353deg);
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:140px;
	position:absolute;
	left:338px;
	top:145.7928466796875px;
}.37_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e37_9 { 
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:56px;
	position:absolute;
	left:461px;
	top:189px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e37_12 { 
	color:rgba(10.625000316649675, 10.226563196629286, 10.226563196629286, 1);
	width:220px;
	height:119px;
	position:absolute;
	left:494px;
	top:368px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e39_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:43px;
	position:absolute;
	left:398px;
	top:723px;
}.39_3 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e39_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:43px;
	position:absolute;
	left:398px;
	top:845px;
}.39_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e39_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(57.0031276345253, 70.40869429707527, 117.93750151991844, 1);
	width:350px;
	height:43px;
	position:absolute;
	left:392.5px;
	top:940px;
}.39_16 { 
	border:1px solid rgba(10.182298421859741, 22.360329553484917, 244.3749949336052, 1);
}.e39_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:343px;
	height:43px;
	position:absolute;
	left:391px;
	top:1182px;
}.39_18 { 
	border:1px solid rgba(10.182298421859741, 22.360329553484917, 244.3749949336052, 1);
}.e39_22 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:28px;
	position:absolute;
	left:494px;
	top:1190px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e39_11 { 
	color:rgba(163.62499594688416, 163.61434131860733, 163.61434131860733, 0.6000000238418579);
	width:148px;
	height:39px;
	position:absolute;
	left:530px;
	top:853px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e39_13 { 
	width:39px;
	height:41px;
	position:absolute;
	left:417px;
	top:845px;
	background-image:url(images/forgot_password.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e39_14 { 
	width:37px;
	height:37px;
	position:absolute;
	left:424px;
	top:723px;
	background-image:url(images/login.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e39_17 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:28px;
	position:absolute;
	left:530px;
	top:945px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_7 { 
	width:75px;
	height:80px;
	position:absolute;
	left:1055px;
	top:66px;
	background-image:url(images/macos_close_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e39_7 { 
	color:rgba(163.62499594688416, 163.61434131860733, 163.61434131860733, 0.6000000238418579);
	width:240px;
	height:47px;
	position:absolute;
	left:509px;
	top:729px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}